*{
    margin: 0%;
    padding: 0%;
}

.Container{
    width: 100%;
    height: 100%;
  
    background-position: center;
    background-size: cover;
    
} 
.form{
     width: 450px;
     height: auto;  
     margin-top: 80px;
    background-color: rgba(255, 192, 203, 0.174);
    position: absolute;
    top: 50px;
    left: 500px;
    align-items: center;
    transform: translate(0%,-5%);  
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.form h2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.form input{
    width: 400px;
    height: 35px;
    background: transparent;
    background-color: #fff;
    border-bottom: 1px solid #1d1d1c;
    border-radius: 8px;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    padding-left: 10px;
}

.bte{
    width: 410px;
    height: 35px;
    background: rgb(1, 1, 41);
    border: 1px solid transparent;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.bte a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.btn{
    width: 410px;
    height: 35px;
    background: rgb(3, 78, 3);
    border: 1px solid transparent;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    
}
.btn a{
    color: #fff;
    text-decoration: none;

}
.Ds{
    font-size: 15px;
    color: red;
    margin-top: 13px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.Ds a{
    text-decoration: none;
    color: red;
}

.profile{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;


}
.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    align-items: center;
}
.form h4{
    color: rgb(10, 98, 10);
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}


    


