
.Container{
    width: 100%;
    height: 100%;
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
} 
.form{
     width: 450px;
     height: auto;  
     
    background-color: rgba(221, 206, 208, 0.174);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    align-items: center;
    transform: translate(0%,-5%);  
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.form h2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.form input{
    width: 400px;
    height: 35px;
    background: transparent;
    background-color: #fff;
    border-bottom: 1px solid #1d1d1c;
    border-radius: 8px;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    padding-left: 10px;
}

.bte,.btn{
    width: 410px;
    height: 35px;
    background: rgb(1, 1, 41);
    border: 1px solid transparent;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.bte {
    background: rgb(1, 1, 41);
}


.bte a, .btn a {
    font-size: 15px;
color: #fff;
text-decoration: none;
}

.btn {
background: rgb(3, 78, 3);
}
.Ds{
    font-size: 15px;
    color: red;
    margin-top: 13px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Ds a{
    text-decoration: none;
    color: red;
}

.profile{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;


}
.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
 
}
.form h4{
    color: rgb(10, 98, 10);
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}


    


